
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2DFCE;
  
}

header {
  background-color:#003087;
  height: 85px;
  margin-bottom: 40px;
  padding: 10px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3vw;
  color: whitesmoke;
  text-align: center;
  padding-top: 20px;
}

main {
  width: 1200px;
  margin: auto;
}

 h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 2.5vw;
  color: #003087;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

 }

#img-container {
  /* border: 3px double #003087; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 1;
  padding: 15px;
}

img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 225px;
  flex: 1 400px;
  padding: 15px;
  border: 2px solid #003087;
}

#show-results-btn {
  background-color: #8F8F8C;
  color: whitesmoke;
  text-align: center;
  font-size: 22px;
  padding-top: 13px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 50;
  font-family: 'Fredoka One', cursive;
  height: 40px;
  width: 200px;
  border: 5px solid #ffcc00;
}

#results-list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 18px;
  list-style: circle;
  list-style-position: inside;
  overflow: scroll;
  height: 200px;
  width: 450px;
  margin-top: 20px;

}

#my-chart {
  height: auto;
  width:  auto;
  max-width: 800px;
  max-height: 400px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}



footer {
  height: 70px;
  background-color: #003087;
  margin-top: 50px;
  color: whitesmoke;
  position: absolute;
  text-align: left;
  padding: 20px;
  width: 100%;
}

